<!DOCTYPE html>
<html>
	<head>
		<title>Exam time!</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/main.css" />
		<link rel="stylesheet" href="static/css/w3.css"/>
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/skel.min.js"></script>
		<script src="static/js/util.js"></script>
		<script src="static/js/main.js"></script>
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
		<script type="text/javascript" href="static/js/bootstrap.min.js"></script>
		<script type="text/javascript" href="static/js/jquery.min.js"></script>
	</head>
	<body >

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><strong>Online Assessment System</strong></a>
					<nav class="navbar">
						<a href="#">Home</a>
						<a href="/showSignUp"><span class="glyphicon glyphicon-log-in	"></span> Login or Sign Up</a> 
					</nav>
				</div>
			</header> 


		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<br>
					<br>
					<br>
					<header>
						<h1>Welcome to the World of Online Assessments</h1>
					</header>

					<div class="flex ">

						<div>
							<span class="icon"></span>
							<h3>Highly Qualified Faculties!</h3>
							<p>The Faculties will be setting the Test Paper <br /> along with the Answer key.</p>
						</div> 

						<div>
							<span class="icon"></span>
							<h3>Immediate Results!</h3>
							<p>Get Results as soon as <br /> you complete the assessment.</p>
						</div>

					</div>

					<footer>
						<a href="/showSignUp" class="w3-btn w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-light-gray w3-round-xxlarge w3-border w3-border-light-blue">Get Started</a>
					</footer>
				</div> 
			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article class="middleones">
							<div class="image round">
								<img src="static/css/images/embeddedsystems.jpg" alt="Pic 01" />
							</div>
							<header>
								<h3>Embedded Systems</h3>
							</header>
							<p>An embedded system is a computer system with a dedicated function within a larger mechanical or electrical system, often with real-time computing constraints. It is embedded as part of a complete device often including hardware and mechanical parts.</p>
							<footer>
								<a href="https://en.wikipedia.org/wiki/Embedded_system" class="w3-btn
								w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border w3-border-light-blue w3-light-gray w3-round-xxlarge">Learn More</a>
							</footer>
						</article>

						<article class="middleones">
							<div class="image round">
								<img src="static/css/images/operatingsystem.jpg" alt="Pic 02" />
							</div>
							<header>
								<h3>Operating Systems</h3>
							</header>
							<p>This course introduces students to a broad range of operating system concepts, including installation and maintenance.Upon  completion of this course, students will have an understanding of OS concepts, installation, management, maintenance, using a variety of operating systems.</p>
							<footer>
								<a href="https://en.wikipedia.org/wiki/Operating_system" class="w3-btn
								w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border w3-border-light-blue w3-light-gray w3-round-xxlarge">Learn More</a>
							</footer>
						</article>

						<article class="middleones">
							<div class="image round">
								<img src="static/css/images/computernetworks.jpg" alt="Pic 03" />
							</div>
							<header>
								<h3>Computer Networks</h3>
							</header>
							<p>A computer network or data network is a digital telecommunications network which allows nodes to share resources. In computer networks, networked computing devices exchange data with each other using a data link. The connections between nodes are established using either cable media or wireless media.</p>
							<footer>
								<a href="https://en.wikipedia.org/wiki/Computer_network" class="w3-btn
								w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border w3-border-light-blue w3-light-gray w3-round-xxlarge">Learn More</a>
							</footer>
						</article>

						<article class="middleones">
							<div class="image round">
								<img src="static/css/images/digitalsignalprocessing.jpg" alt="Pic 04" />
							</div>
							<header>
								<h3>Digital Signal Processing</h3>
							</header>
							<p>Digital signal processing (DSP) is the use of digital processing, such as by computers, to perform a wide variety of signal processing operations. The signals processed in this manner are a sequence of numbers that represent samples of a continuous variable in a domain such as time, space, or frequency.</p>
							<footer>
								<a href="https://en.wikipedia.org/wiki/Digital_signal_processing" class="w3-btn
								w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border w3-border-light-blue w3-light-gray w3-round-xxlarge">Learn More</a>
							</footer>
						</article>

					</div>
				</div>
			</section>
	</body>
</html>